@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgba(52, 211, 153, 0.35);
  color: #ecfffb;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
